@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-SemiBold.ttf');
  }

  ion-toolbar {
    --background: transparent;
    --border-style:none;
  } 
.connection {
  position:absolute;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%);
}

.connection>img{
  width: 100vw;
  height: 100vh;
}


.connection~div{
padding-top: 40vh;
text-align: center;
font-family: 'Montserrat' !important;
}

.connection~div>h2{
  text-transform: uppercase;
}

.connection~div>h4{
    font-size: 15px;
    margin-top: 104px;
}
ion-button{
    margin-top: 14px;
}

ion-list{
  ion-label{
    margin-left: 12px;
  }
  ion-thumbnail{
    --border-radius: 6px;
    //width: 102%;
   // height: 102%;
  }
  h3{
    font-size: medium;
    font-weight: 600;
    letter-spacing: 0.002em;
    line-height: 130%;
    margin: 21px 22px;
    text-transform: initial;
  
  }
}
ion-modal{
  ion-thumbnail{
    --border-radius: 6px;
    //width: 102%;
   // height: 102%;
  }
  hr{
    border: 0.5px solid #B3B3B3;
//width: 371px;
  } 
  ion-label{
    letter-spacing: 0.02em;
  }
  p{
    letter-spacing: 0.02em;
  }
  ion-icon{
    position: absolute;
    bottom: 38%;
    left: -30%;
  }
  .modal-label{
    font-size: medium;
    font-weight: 700;
    
  }
}
