<ion-content [fullscreen]="true" class="ion-padding">

  <div class="login-header">
     <ion-header class="ion-no-border"> <span>Grub</span>Hubber</ion-header>
  </div>

  <div class="login-label"> 
    <ion-label>{{'LOGIN.sign'|translate}}</ion-label>
  </div>

  <div class ="login-form">
    <form [formGroup]="registerForm" (ngSubmit)="sign()">
      <div *ngIf="er===true" class="danger">
       {{messageErrorApi}}
      </div>
      <ion-grid fixed>
      
        <ion-row>

          <ion-col  size="auto" >
           <div *ngIf="registerForm.get('email')?.invalid && ((registerForm.get('email')?.dirty) || registerForm.get('email')?.touched)">
            <div *ngIf="registerForm.get('email')?.errors?.['required']" class="danger"> {{'SIGN.emailRequired'|translate}}</div>
            <div *ngIf="registerForm.get('email')?.errors?.['email']" class="danger">{{'SIGN.emailNotValid'|translate}}</div>
           </div>
            <ion-item lines="none">
              <ion-input aria-label="Medium input"  required  type="text" label="Email" formControlName="email"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col  size="auto">
            <div *ngIf="registerForm.get('username')?.invalid && ((registerForm.get('username')?.dirty) || registerForm.get('username')?.touched)">
              <div *ngIf="registerForm.get('username')?.errors?.['required']" class="danger">{{'SIGN.userRequired'|translate}}</div>
              <!-- <div *ngIf="registerForm.get('username')?.errors?.['email']">Email is not valid</div> -->
             </div>
             
            <ion-item lines="none">
              <ion-input aria-label="dark input" required type="text" label="{{'LOGIN.user'|translate}}" formControlName="username"></ion-input>
            </ion-item >
          </ion-col>

          <ion-col  size="auto">
            <div *ngIf="registerForm.get('password')?.invalid && ((registerForm.get('password')?.dirty) || registerForm.get('password')?.touched)">
              <div *ngIf="registerForm.get('password')?.errors?.['required']" class="danger"> {{'SIGN.pwdRequired'|translate}}</div>
              <div *ngIf="registerForm.get('password')?.errors?.['minlength']" class="danger">{{'SIGN.pwdMinLength'|translate}}</div>
             </div>
            <ion-item lines="none">
              <ion-input required  aria-label="Medium input" type="text" label="{{'LOGIN.password|translate}}" minlength="6" formControlName="password"></ion-input>
            </ion-item >
          </ion-col>

          <ion-col size="auto">
            <div *ngIf="registerForm.get('confirm_password')?.invalid && ((registerForm.get('confirm_password')?.dirty) || registerForm.get('confirm_password')?.touched)">
              <div *ngIf="registerForm.get('confirm_password')?.errors?.['required']" class="danger"> {{'SIGN.confirmPwd'|translate}}</div>
              <div *ngIf="registerForm.get('confirm_password')?.errors?.['passwordMismatch']" class="danger">{{'SIGN.confirmSame'|translate}}</div>
             </div>
            <ion-item lines="none">
              <ion-input required aria-label="Medium input" type="text" label="{{'SIGN.confirm'|translate}}" minlength="6" formControlName="confirm_password"></ion-input>
            </ion-item >
          </ion-col>

          <ion-col size="12">
            <ion-button expand="block"  type="submit"  shape="round" size="medium"  class="signin-button" id="open-toast"  >
              {{'LOGIN.sign'|translate}}
            </ion-button>
          </ion-col>
        </ion-row>
          
      </ion-grid>
  
    </form>

    <div>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="auto" >
            <small>{{'SIGN.account'|translate}}</small>
          </ion-col>
          <ion-col size="auto" (click)="login()">
            <ion-button  expand="block" fill="clear" color="orange" id="sign-up" type="submit" >
              <span>{{'LOGIN.login'|translate}}</span> 
             </ion-button>
          </ion-col>
        </ion-row>
        
        <!--<ion-row>
          <ion-col size="auto">
          <ion-toast
            trigger="open-toast"
            message="User Created Successfully !" 
            [duration]="3000" 
            [buttons]="toastButtons"
            class="custom-toast"
          >
        </ion-toast>
          </ion-col>
        </ion-row>-->
      </ion-grid>
       
    </div>

  </div>
  
</ion-content>

