<ion-content [fullscreen]="true" class="ion-padding">

  <div class="login-header">
     <ion-header class="ion-no-border"> <span>Grub</span>Hubber</ion-header>
  </div>

  <div class="login-label"> 
    <ion-label>Sign Up </ion-label>
  </div>

  <div class ="login-form">
    <form>
      <ion-grid fixed>
        <ion-row>

          <ion-col  size="auto">
            <ion-item lines="none">
              <ion-input required  type="text" label="Email"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col  size="auto">
            <ion-item lines="none">
              <ion-input required type="text" label="Username" ></ion-input>
            </ion-item >
          </ion-col>

          <ion-col  size="auto">
            <ion-item lines="none">
              <ion-input required type="text" label="Password" maxlength="6" ></ion-input>
            </ion-item >
          </ion-col>

          <ion-col size="auto">
            <ion-item lines="none">
              <ion-input required type="text" label="Confirm Password" maxlength="6" ></ion-input>
            </ion-item >
          </ion-col>

          <ion-col size="12">
            <ion-button expand="block"  type="submit"  shape="round" size="medium"  class="signin-button" id="open-toast" >
              Sign Up
            </ion-button>
          </ion-col>
        </ion-row>
          
      </ion-grid>
  
    </form>

    <div>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="auto">
            <small>Already have an account?</small>
          </ion-col>
          <ion-col size="auto">
            <ion-button  expand="block" fill="clear" color="orange" id="sign-up" (click)="login()">
              <span>Sign in</span> 
             </ion-button>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col size="auto">
          <ion-toast
            trigger="open-toast"
            message="User Created Successfully !" 
            [duration]="3000" 
            [buttons]="toastButtons"
            class="custom-toast"
          >
        </ion-toast>
          </ion-col>
        </ion-row>
      </ion-grid>
       
    </div>

  </div>
  
</ion-content>

