@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-SemiBold.ttf');
  }

  span{
    color: var(--ion-color-orange);
}
ion-grid{
  margin-top: 2vh;
}

  .login-header{
    font-family: 'Montserrat-Regular' !important;
    text-align: center;
    color:var(--ion-color-blue);
    font-size:32px;
    font-weight: 600;
    filter:drop-shadow(2px 2px 2px var(--ion-color-blue));
    // margin-top: 2vh; 
    letter-spacing: 0.75px;
    line-height: 28px;
    // vertical-align: auto;
    // justify-content: center;
    // align-content: center;
    stroke: var(--ion-color-blue) solid;
    
}

.connection {
  position:absolute;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%);
}

.connection>img{
  width: 100vw;
  height: 100vh;
}

ion-header{
  margin-top: 0.6vh;
}

.connection~div{
padding-top: 40vh;
text-align: center;
font-family: 'Montserrat' !important;
}

.connection~div>h2{
  text-transform: uppercase;
}

.connection~div>h4{
  font-size:15px;
}

ion-avatar{
  width: 40px;
  height:40px;
  align-self: center;
}
ion-searchbar{
    --border: 1px solid #B3B3B3;
    --border-radius: 6px;
}
ion-label{
    margin-left: 15px;
}
ion-chip{
  font-size: x-small;
  margin-left: 74px;
  margin-top: -42px;
  font-weight: 700;
}
ion-card-title{
  padding: 3px 5px;
  font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 17px;
letter-spacing: 0.03em;
}
ion-card-subtitle{
  padding: 3px 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: 0.03em;
  text-transform: initial;
}
ion-chip > ion-label{
  margin-left: -2px;
  font-size: 14px;
  margin-top: 4px;
}
ion-card{
  border-radius: 9px;
}

.wrapper {
  max-height: 120px;
  display: flex;
  overflow-x: auto;
  margin-top: 10px;
  padding: 2px 0px 0px 12px;
}
.item {
  min-width: 105px;
  height: 51px;
  line-height: 110px;
  text-align: center;
  background: var(--ion-color-blue-pale);
  color: var(--ion-color-black);
  border-radius: 30px;
  margin-right: 5px;
}
.wrapper::-webkit-scrollbar {
  width: 0;
}
h6 {
  font-size: 12px;
}
#location{
  margin-left: 76vw;
  margin-top: -13vw;
}
#add{
  margin-left: 2vw;
  margin-top: 3vw;
}