
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <div class="login-header">
          <ion-header class="ion-no-border"><span>Grub</span>Hubber</ion-header>
       </div>
      </ion-col>
      <ion-col>
        <ion-avatar (click)="gotoProfile()">
          <ion-img [src]="'data:image/jpeg;base64,'+ picture_user" *ngIf="picture_user !=undefined"></ion-img>
          <img alt="Silhouette of a person's head" src="assets/images/user.png" *ngIf="picture_user ==undefined" /> 
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
<ion-label color="blue">
  <strong>  Search</strong>
</ion-label>
  <ion-searchbar aria-label="Medium input" placeholder="Search Here " show-clear-button="focus" show-cancel-button="focus" color="blue-pale"  [(ngModel)]="term"></ion-searchbar>
  <div class="wrapper">
    <div class="item" *ngFor="let cate of categorie">
      <h6> {{cate.name}}</h6>
    </div>
  </div>
<div *ngIf="search === 0" >
  <div class="connection" >
    <img src="assets/images/restaurant.svg">
  </div>
  
  <div>
    <h4>Well, there is no result you are looking for :(</h4>
  </div>
</div>


<div>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6"    *ngFor="let item of result | filter:term">
        <ion-card (click)="gotoDetails(item)">
          <!-- <ion-img src="assets/images/place1.jpg" *ngIf="item.placepicture === ''" ></ion-img> -->
          <!-- <ion-img [src]="'data:image/jpeg;base64,'+ item.picture" *ngIf="item.placepicture !== ''"></ion-img> -->
          <ion-img [src]="'data:image/jpeg;base64,'+ item.picture" ></ion-img>
          <ion-card-title>{{item.name}}</ion-card-title>
          <ion-card-subtitle color="black">{{item.localisation.quarter}} </ion-card-subtitle>
          <ion-chip color="gray" mode="ios" >
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-label color="dark">{{item.note}} </ion-label>
          </ion-chip>
        </ion-card> 
      </ion-col>
    </ion-row>
  </ion-grid>
</div>      

</ion-content>
