<
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <div class="login-header">
          <ion-header class="ion-no-border"><span>Grub</span>Hubber</ion-header>
       </div>
      </ion-col>
      <ion-col>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="assets/images/user.png" />
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
<ion-label color="blue">
  <strong>  Search</strong>
</ion-label>
  <ion-searchbar aria-label="Medium input" placeholder="Search Here " show-clear-button="focus" show-cancel-button="focus" color="blue-pale"  [(ngModel)]="term"></ion-searchbar>

<div *ngIf="search === 0" >
  <div class="connection" >
    <img src="assets/images/restaurant.svg">
  </div>
  
  <div>
    <h4>Well, there is no result you are looking for :(</h4>
  </div>
</div>


<div>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6"  *ngIf="search === 1" >
        <ion-card (click)="gotoDetails(item)" *ngFor="let item of results | filter:term">
          <ion-img src="assets/images/place1.jpg" *ngIf="item.placepicture === ''" ></ion-img>
          <ion-img [src]="'data:image/png;base64'+ item.picture" *ngIf="item.placepicture !== ''"></ion-img>
          <ion-card-title>{{item.placename}}</ion-card-title>
          <ion-card-subtitle color="black">{{item.quarter}} </ion-card-subtitle>
          <ion-chip color="gray" mode="ios" >
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-label color="dark">{{item.noteplace}} </ion-label>
          </ion-chip>
        </ion-card> 
      </ion-col>
    </ion-row>
  </ion-grid>
</div>      

</ion-content>
