<
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <div class="login-header">
          <ion-header class="ion-no-border"><span>Grub</span>Hubber</ion-header>
       </div>
      </ion-col>
      <ion-col>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="assets/images/user.png" />
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
<ion-label color="blue">
  <strong>  Search</strong>
</ion-label>
  <ion-searchbar placeholder="Search places " inputmode="decimal" type="decimal" (ionChange)="handleChange($event)" [debounce]="250" show-clear-button="focus" show-cancel-button="focus"></ion-searchbar>

<div class="connection">
  <img src="assets/images/restaurant.svg">
</div>

<div>
  <h4>Well, there is no result you are looking for :(</h4>
</div>

</ion-content>
