@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-SemiBold.ttf');
  }
span{
    color: var(--ion-color-orange);
}
small{
    color:var(--ion-color-blue);
    font-size: 12px;
}
ion-button{
--background: var(--ion-color-blue);
}
.login-header{
    font-family: 'Montserrat-Regular' !important;
    text-align: center;
    color:var(--ion-color-blue);
    font-size:32px;
    font-weight: 400;
    filter:drop-shadow(2px 2px 2px var(--ion-color-blue));
    margin-top: 95px; 
    letter-spacing: 0.75px;
    line-height: 28px;
    vertical-align: auto;
    stroke: var(--ion-color-blue) solid;
     
}
.login-label{
    margin-top: 39px;
    color:var(--ion-color-blue);
    font-size:24px;
    font-weight: bold;
    text-align: left;
    margin-left: 16px;

}
ion-item
{
    --background:var(--ion-color-blue-pale);
    --color:var(--ion-color-text-blue);
    --border-radius:10px;
     margin-top:20px;
     width: 314px;
    
}
#pwd{
    margin-top: 15px;
    text-decoration: underline;
    font-size: small;
    text-transform: initial;
}
ion-button{
    margin-top: 55px;
}
#sign-in{
    text-decoration: underline;
    margin-top: -10px;
    font-size: 12px;
    margin-left: -16px;
    text-transform: initial;
}
#login-button{
   margin-top: -10px;
}
