<ion-content fullscreen="true" class="ion-padding">
  <div class="login-header">
    <ion-header class="ion-no-border"> <span>Grub</span>Hubber</ion-header>
  </div>

  <div class="login-label">
    <ion-label>{{'LOGIN.login'| translate}}</ion-label>
  </div>

  <div class="login-form">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div *ngIf="er===true">
        {{messageErrorApi}}
       </div>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="auto">
            <ion-item lines="none">
              <ion-input aria-label="Medium input" required  type="text" label="{{'LOGIN.email'|translate}}" formControlName="username"></ion-input>
            </ion-item>
          </ion-col>

          <!-- <ion-col  size="auto" >
            <ion-item lines="none" >
              <ion-input aria-label="Medium input" required type="text" label="Password" ></ion-input>
            </ion-item >
          </ion-col>

          <ion-col  size="auto" >
            <ion-button  expand="block" fill="clear" id="pwd" color="blue" (click)="gotoPwd()">
              Forgot Password ?
            </ion-button>
          </ion-col>

          <ion-col size="12">
            <ion-button expand="block"  type="submit"  shape="round" size="medium" id="login-button" (click)="gotoloading()" >
              Login
            </ion-button>
          </ion-col> -->
        </ion-row>
        <ion-row>
          <ion-col size="auto">
            <ion-item lines="none">
              <ion-input required type="text" label="{{'LOGIN.password'|translate}}" formControlName="password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="auto">
            <ion-button
              expand="block"
              fill="clear"
              id="pwd"
              color="blue"
              (click)="gotoPwd()"
            >
              {{'LOGIN.pwd'|translate}}
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button
              expand="block"
              type="submit"
              shape="round"
              size="medium"
              id="login-button"
             
            >
            {{'LOGIN.login'|translate}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

    <div>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="auto">
            <small>{{'LOGIN.change'|translate}}</small>
          </ion-col>
          <ion-col size="auto">
            <ion-button
              expand="block"
              fill="clear"
              color="orange"
              id="sign-in"
              (click)="signUp()"
            >
              <span>{{'LOGIN.sign'|translate}} </span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
