<ion-content [fullscreen]="true" class="ion-padding">

  <div class="login-header">
     <ion-header> <span>Grub</span>Hubber</ion-header>
  </div>

  <div class="login-label"> 
    <ion-label>Login</ion-label>
  </div>

  <div class ="login-form">
    <form>
      <ion-grid fixed>
        <ion-row>

          <ion-col  size="auto">
            <ion-item lines="none">
              <ion-input required  type="text" label="Email"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col  size="auto" >
            <ion-item lines="none" >
              <ion-input required type="text" label="Password" ></ion-input>
            </ion-item >
          </ion-col>

          <ion-col  size="auto" >
            <ion-button  expand="block" fill="clear" id="pwd" color="blue">
              Forgot Password ?
            </ion-button>
          </ion-col>

          <ion-col size="12">
            <ion-button expand="block"  type="submit"  shape="round" size="medium" id="login-button" >
              Login
            </ion-button>
          </ion-col>
        </ion-row>
          
      </ion-grid>
  
    </form>

    <div>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="auto">
            <small>Don't have an account?</small>
          </ion-col>
          <ion-col size="auto">
            <ion-button  expand="block" fill="clear" color="orange" id="sign-in">
              <span >Sign up </span> 
             </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
       
    </div>

  </div>
  
</ion-content>

