<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cart</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="dark" icon="chevron-back-outline" mode="md"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-label >Dish</ion-label>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="3">
        <ion-thumbnail>
          <img src="assets/images/mozzarella.jpg" />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="3">
        <ion-label>Brochettes</ion-label>
        <p>150 frs CFA</p>
      </ion-col>

    </ion-row>  
  </ion-grid>
  <div class="butt1">
    <button class="minus-button">-</button>
  </div>
  <div class="butt2">
    <input type="number" value="0">
  </div>
  <div class="butt3">
   <button class="plus-button">+</button>
  </div>

<div class="container-accordion">
  <ion-label>Order(s)</ion-label>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>First Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        First Content
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Second Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Second Content
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Third Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Third Content
      </div>
    </ion-accordion>
  </ion-accordion-group>
</div>
  
</ion-content>
