@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-SemiBold.ttf');
  }
ion-toolbar {
    --background: transparent;
    --border-style:none;
  }
 .plus-button{
    background: var(--ion-color-blue);
    border-radius: 20px;
    width: 27px;
    color: white;
    height: 27px;
    margin-top: -130px;
    margin-left: 126px;
  }
  .minus-button{
    background: var(--ion-color-blue);
    border-radius: 20px;
    width: 27px;
    color: white;
    height: 27px;
  }
input{
    border:none;
    color: black;
  }
  ion-thumbnail{
    --border-radius: 6px;
    width: 102%;
    height: 102%;
  }
ion-label{
    font-size: medium;
    font-weight: 600;
    letter-spacing: 0.002em;
    line-height: 130%;
}
h3{
  font-size: medium;
  font-weight: 600;
  letter-spacing: 0.002em;
  line-height: 130%;
  margin: 0 22px;
}

.increment{
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 16px;
  align-items: center;
  margin-bottom: 100px;
  border-radius: 6px;
  margin-left: 266px;
  margin-top: -86px;
}


container-accordion{
    ion-label{
        font-size: medium;
        font-weight: 700;
        
      }
}
h1{
  position: absolute;
width: 112px;
height: 21px;
left: 150px;
top: 258px;
line-height: 130%;
letter-spacing: 0.002em;
color: var(--ion-color-blue);
}
ion-button[shape=circle]{
  --border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: auto;
  margin-right: 12px;
}
ion-icon{
  position: absolute;
}
ion-accordion-group{
  padding: 22px 15px;
}

.additional{
padding: 0px;
gap: 265px;
width: 371px;
  .increment-additional{
  display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 67px;
    margin-top: -39px;
  }
  ion-button[shape=circle]{
    --border-radius: 50%;
    width: 8px;
    height: 21px;
    margin: 17px 46px;
  }
  ion-icon{
    position: absolute;
    width: 14px;
  }
  ion-radio-group{
    display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  
  width: 93px;
  height: 26px;
  }
  ion-radio {
    --border-radius: 4px;
    --inner-border-radius: 4px;
  
    --color: #ddd;
    --color-checked:var(--ion-color-blue);
  }
  
  ion-radio.ios::part(container) {
    width: 20px;
    height: 20px;
  
    border: 2px solid #ddd;
    border-radius: 4px;
  }
  
  .radio-checked.ios::part(container) {
    border-color: (--ion-color-blue);
  }
  p{
    letter-spacing: 0.002em;
    margin: 0 -28px 0 -14px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 130%;
  }
  h2{
    font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 120%;

  }
  h3{
    margin-top: -37px;
    font-weight: 500;
    margin-left: 230px;
    font-size: 16px;
  }
  #save-button{
    width: 174px;
    padding: 0px 25px;
    margin: 6px 74px 0;
  }
}
.container{
  h1{
    position: absolute;
width: 112px;
height: 21px;
left: 150px;
top: 163px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 130%;
letter-spacing: 0.002em;
color: var(--ion-color-blue);
  }
}