<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" icon="chevron-back-outline" mode="md"></ion-back-button>
      <ion-label>Saved places</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list >
  <div *ngFor="let place of places">
    <ion-item >
      <ion-avatar slot="start" (click)="gotoDetailPlace(place)">
        <!-- <img alt="Silhouette of a person's head" src="assets/images/place1.jpg" *ngIf="place.picture == ''"/> -->
        <ion-img [src]="'data:image/jpeg;base64,'+ place.picture" *ngIf="place.picture !== ''"></ion-img>
      </ion-avatar>
      <ion-label>{{place.name}}
        <p>{{place.localisation.quarter}},{{place.localisation.city}}</p>
      </ion-label>
      
      <ion-button (click)="gotoPlaceEdit(place)" fill="clear">
        <ion-icon slot="icon-only" name="pencil-outline" color="blue"  ></ion-icon>
      </ion-button>
      <ion-button id="open-toast" fill="clear"(click)="deletePlace(place.id)">
        <ion-icon slot="icon-only" name="trash" color="blue"  ></ion-icon>
      </ion-button>
    </ion-item>
  </div>
  <!-- <ion-item >
    <ion-avatar slot="start" (click)="gotoDetailPlace()">
      <img alt="Silhouette of a person's head" src="assets/images/place1.jpg" *ngIf="place.picture == ''"/>
      <ion-img [src]="'data:image/jpeg;base64'+ place.picture" *ngIf="place.picture !== ''"></ion-img>
    </ion-avatar>
    <ion-label>{{place.name}}
      <p>{{place.localisation.quarter}},{{place.localisation.city}}</p>
    </ion-label>
    
    <ion-button (click)="gotoPlaceEdit()" fill="clear">
      <ion-icon slot="icon-only" name="pencil-outline" color="blue"  ></ion-icon>
    </ion-button>
    <ion-button id="open-toast" fill="clear">
      <ion-icon slot="icon-only" name="trash" color="blue" ></ion-icon>
    </ion-button>
  </ion-item> -->
 </ion-list>
 
 <ion-toast
 trigger="open-toast"
 message="Place deleted Successfully !" 
 [duration]="3000" 
 [buttons]="toastButtons"
 class="custom-toast"
>
</ion-toast>
</ion-content>
