<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>places_list</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button color="black"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-list>
  <ion-title>Places</ion-title>
  <br>
  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="assets/images/place1.jpg" />
    </ion-avatar>
    <ion-label>Item Avatar
      <p>location</p>
    </ion-label>
    
    <ion-button (click)="onClick()" fill="clear">
      <ion-icon slot="icon-only" name="pencil-outline"  ></ion-icon>
    </ion-button>
    <ion-button (click)="onClick()" fill="clear">
      <ion-icon slot="icon-only" name="trash" ></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="assets/images/place1.jpg" />
    </ion-avatar>
    <ion-label>Item Avatar
      <p>location</p>
    </ion-label>
    
    <ion-button (click)="onClick()" fill="clear">
      <ion-icon slot="icon-only" name="pencil-outline" ></ion-icon>
    </ion-button>
    <ion-button (click)="onClick()" fill="clear">
      <ion-icon slot="icon-only" name="trash" ></ion-icon>
    </ion-button>
  </ion-item>
 
 </ion-list>
</ion-content>
