ion-avatar{
    --border-radius:5px;
    height: 6rem;
    width: 7rem;
}
h3{
    font-size: medium;
    font-weight: 600;
    letter-spacing: 0.002em;
    line-height: 130%;
    margin: 21px 22px;
    text-transform: initial;
  
  }

  .connection~div{
    padding-top: 40vh;
    text-align: center;
    font-family: 'Montserrat' !important;
    }
    
    .connection~div>h2{
      text-transform: uppercase;
    }
    
    .connection~div>h4{
      font-size:15px;
    }  
    .connection {
        position:absolute;
        top: 34%;
        left: 52%;
        transform:translate(-50%,-50%);
      }
      
      .connection>img{
        width: 100vw;
        height: 100vh;
      }