ion-avatar{
    --border-radius:5px;
    height: 6rem;
    width: 7rem;
}
h3{
    font-size: medium;
    font-weight: 600;
    letter-spacing: 0.002em;
    line-height: 130%;
    margin: 21px 22px;
    text-transform: initial;
  
  }