<ion-header   [translucent]="true">
  <ion-toolbar>
    <ion-title>Fast-food</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="dark" icon="chevron-back-outline"mode="md" ></ion-back-button>
    </ion-buttons>
    <ion-icon slot="end" name="bag-outline" (click)="gotoCart()" id="bag-outline"></ion-icon>
    <ion-icon name="fast-food-outline" (click)="gotoFastFoodList()" slot="end" id="fast-food-outline"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search places " inputmode="decimal" type="decimal" (ionChange)="handleChange($event)" [debounce]="250" show-clear-button="focus" show-cancel-button="focus" color="blue-pale"></ion-searchbar>

  <!--/***********row for the different categories*****/-->
  <div class="wrapper">
    <div class="item">
      <h6 (click)="goToDinner()"> Fast-food</h6>
    </div>
    <div class="item">
      <h6>Street-food</h6>
    </div>
    <div class="item">
      <h6>Cafeteria</h6>
    </div>
    <div class="item">
      <h6>Café-Resto</h6>
    </div>
    <div class="item">
      <h6>Classic Restaurant</h6>
    </div>
    <div class="item">
      <h6>Traditional meals</h6>
    </div>
  </div>

  <div>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-card (click)="gotoDetails()">
            <ion-img src="assets/images/place1.jpg"></ion-img>
            <ion-card-title>Chez Ali</ion-card-title>
            <!-- <ion-chip color="gray" mode="ios" >
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-label color="dark">4.8 </ion-label>
            </ion-chip> -->
            <ion-card-subtitle color="black">Nkolbisson,Yaounde </ion-card-subtitle>
            <ion-chip color="gray" mode="ios" >
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-label color="dark">4.8 </ion-label>
            </ion-chip>

          </ion-card> 
        </ion-col>
        
        <ion-col size="6">
          <ion-card>
            <ion-img src="assets/images/place1.jpg"></ion-img>
            <ion-card-title>Chez Ali</ion-card-title>
        <ion-card-subtitle color="black">Nkolbisson </ion-card-subtitle>
        <ion-chip color="gray" mode="ios" >
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-label color="dark">4.0 </ion-label>
        </ion-chip>

          </ion-card> 
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-img src="assets/images/place1.jpg"></ion-img>
            <ion-card-title>Chez Ali</ion-card-title>
            <ion-card-subtitle color="black">Nkolbisson </ion-card-subtitle>
            <ion-chip color="gray" mode="ios" >
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-label color="dark">3.8 </ion-label>
            </ion-chip>
          </ion-card> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
