<ion-header   [translucent]="true">
  <ion-toolbar>
    <ion-title>Fast-food</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="dark" icon="chevron-back-outline"mode="md" ></ion-back-button>
    </ion-buttons>
    <ion-icon slot="end" name="bag-outline" (click)="gotoCart()" id="bag-outline"></ion-icon>
    <ion-icon name="fast-food-outline" (click)="gotoPlaceList()" slot="end" id="fast-food-outline"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar aria-label="Medium input" placeholder="Search places " inputmode="decimal" type="decimal" (ionChange)="handleChange($event)" [debounce]="250" show-clear-button="focus" show-cancel-button="focus" color="blue-pale"></ion-searchbar>

  <!--/***********row for the different categories*****/-->
  <div class="wrapper">
    <div class="item" *ngFor="let cate of categorie">
      <h6 (click)="goToDinner()"> {{cate.name}}</h6>
    </div>
    
  </div>

  <div>
    <ion-grid fixed>
      <ion-row>
        <div *ngIf="result === ' '">
          <div class="connection" >
            <img src="assets/images/data.svg">
          </div>
          <h4>Well, there is no place corresponding to this category :( </h4>
        </div>
        <ion-col size="6" *ngFor="let place of result">
          
          <ion-card *ngIf="result !== null">
            <ion-img src="assets/images/place1.jpg" *ngIf="place.picture === ''" ></ion-img>
            <ion-img [src]="'data:image/jpeg;bytes'+ place.picture" *ngIf="place.picture !== ''"></ion-img>
            
            <ion-card-title>{{place.name}}</ion-card-title>
            <ion-card-subtitle color="black">{{place.quarter}},{{place.city}} </ion-card-subtitle>
            <ion-chip color="gray" mode="ios" >
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-label color="dark">{{place.note}}</ion-label>
            </ion-chip>

          </ion-card> 
        </ion-col>
        
        <!--<ion-col size="6">
          <ion-card>
            <ion-img src="assets/images/place1.jpg"></ion-img>
            <ion-card-title>Chez Ali</ion-card-title>
        <ion-card-subtitle color="black">Nkolbisson </ion-card-subtitle>
        <ion-chip color="gray" mode="ios" >
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-label color="dark">4.0 </ion-label>
        </ion-chip>

          </ion-card> 
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-img src="assets/images/place1.jpg"></ion-img>
            <ion-card-title>Chez Ali</ion-card-title>
            <ion-card-subtitle color="black">Nkolbisson </ion-card-subtitle>
            <ion-chip color="gray" mode="ios" >
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-label color="dark">3.8 </ion-label>
            </ion-chip>
          </ion-card> 
        </ion-col>-->
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
