@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-SemiBold.ttf');
  }
  ion-grid{
    margin-top: 2vh;
  }
  ion-toolbar {
    --background: transparent;
    --border-style:none;
  } 
  #bag-outline{
    margin-right: 1.2rem;
    //size: 10rem;
    scale: 1.5;
  }
  #fast-food-outline{
    margin-right: 1.5rem;
    scale: 1.5;

  }
.wrapper {
    max-height: 120px;
    display: flex;
    overflow-x: auto;
    margin-top: 10px;
    padding: 2px 0px 0px 12px;
  }
  .item {
    min-width: 105px;
    height: 51px;
    line-height: 110px;
    text-align: center;
    background: var(--ion-color-blue-pale);
    color: var(--ion-color-black);
    border-radius: 30px;
    margin-right: 5px;
  }
  .wrapper::-webkit-scrollbar {
    width: 0;
  }
  h6 {
    font-size: 12px;
}
ion-chip{
     font-size: x-small;
    // margin-left: 11rem;
    // margin-top: -4rem;
     font-weight: 700;
  }
  ion-card-title{
    padding: 3px 5px;
    font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.03em;
  }
  ion-card-subtitle{
    padding: 3px 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 11px;
    letter-spacing: 0.03em;
    text-transform: initial;
  }
  ion-chip > ion-label{
    margin-left: -2px;
    font-size: 14px;
    margin-top: 4px;
  }
  ion-card{
    border-radius: 9px;
  }
  .wrapper-card{
    max-height: 233px;
    width: 590px;
  }
  .wrapper-card::-webkit-scrollbar {
    width: 0;
  }
ion-searchbar{
    --border: 1px solid;
    --border-radius: 6px;

}

.connection~div{
  padding-top: 40vh;
  text-align: center;
  font-family: 'Montserrat' !important;
  }
  
  .connection~div>h2{
    text-transform: uppercase;
  }
  
  .connection~div>h4{
    font-size:15px;
  }

  .connection {
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
  }
  
  .connection>img{
    width: 100vw;
    height: 100vh;
  }